<?xml version="1.0" encoding="utf-8"?>
<manifest />emulator/proto/update_protos.shhttps://cs.android.com/android-studio/platform/tools/base/+/91bd4320c153c865486bbaa78cd97d6f8f3110da:emulator/proto/update_protos.sh
https://cs.android.com/android-studio/platform/tools/base/+/91bd4320c153c865486bbaa78cd97d6f8f3110da:emulator/proto/update_protos.sh